*{
    margin:0;
    padding: 0;
    text-align: center;
}
.heading{
    height:90px;
    width:100%;
    background-color: rgb(2, 16, 57);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: end;

}
h1{
    margin-bottom: 10px;
}

.single-choice{
    height: 165px;
    width: 165px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-choice:hover{
    background-color: black;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;
    margin-top: 3rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }